:root{
    --primary-bg-color: #271F30;
    --big-text-color: #EE82EE;
    --small-text-color: #F7A8B8;
    --border-color: #FFF;
    --detail-color: #55CDFC;
}

body {
    font-family: Arial, sans-serif;
    background: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}



.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

.section {
    background: var(--primary-bg-color);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--big-text-color);
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

h2 {
    color: var(--big-text-color);
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

h3 {
    color: var(--big-text-color);
    margin-bottom: 10px;
    font-size: 20px;
}

p{
    color: var(--small-text-color);
    font-size: 18px;
    line-height: 1.6;
}

.columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    width: 30%;
    min-width: 200px;
    text-align: center;
}

.small-section {
    background: var(--primary-bg-color);
    padding: 20px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    width: 45%;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bottom-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .bottom-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .small-section {
        width: 100% !important;
        margin: 0;
        box-sizing: border-box;
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}